
body {
    position: relative;
    height: 100vh; 
    background-color: #fff; 
    z-index: 2; 
}

#shield-img {
    width: 70px;
}
#logo-container {
    margin-left: 0;
}
.frontpage-container{
    z-index: 10;
}
.frontpage-img-container{
    position: fixed;
    height: 100%;
    right: -50%;
    z-index: -5;  
    rotate: -90deg;
}
.frontpage-img-container img{
    background-repeat: no-repeat;
    width: 100%;
}

.login-container{
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.btn-left, .btn-right {
    flex: 1; /* Equal button width */
    padding: 10px 20px;
}
.btn-left {
    text-align: center; /* Ensure text stays centered */
    position: relative; /* For placing the span relative to this button */
}

@media (max-width: 480px) { /* For small mobile screens */
    .login-container a {
        font-size: 12px; 
    }
    .login-container span {
        padding: 5px;
        font-size: 12px; 
    }
    .frontpage-img-container{
        right: -100%;
        height: 90%;
    }
}

.login-container span {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    right: 50%; /* Align to the right edge of the button */
    top: 50%; /* Center it vertically */
    transform: translate(50%, -50%); /* Adjust alignment to the middle of the button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
    font-size: 16px; /* Adjust text size */
    font-weight: bold; /* Make the text stand out */
}
 
.login-container button{
    width: 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.login-container a {
    color: white;
    text-decoration: none;
}
.no-right-radius {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    white-space: nowrap;
}
.no-left-radius {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    white-space: nowrap;

}
.logo {
    position: relative;
    top: 20px;
    left: 20px;
    max-width: 150px;
    min-width: 100px;
  }

.nav-item {
    padding: 5px;
}
