@import 'bootstrap-icons/font/bootstrap-icons.css';


.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.handling-complain-container {
    border-style: none solid solid solid;
    z-index: -5;
    border: 1px solid #bababa;
    border-radius: 20px;
}

.handling-header {
    background-color: #D9D9D9;
    border: 1px solid #d9d9d9;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px 20px;
    z-index: 5;
}
.handling-complain-table td:nth-child(3) {
    max-width: 150px; 
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }

  .table .th-text {
    font-size: small;
    margin-left: 0.5rem;
}
.table thead .input-group.date {
    width: 250px; /* Set a fixed width */
}
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 50px;
}
.show-select select{
    width: 250px;
}
.show-select {
    width: 200px;
}
.table th:nth-child(2),
.table td:nth-child(2) {
    width: 150px;
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 120px;
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 120px;
}

.table th:nth-child(5),
.table td:nth-child(5) {
    width: 100px;
}

.table th:nth-child(6),
.table td:nth-child(6) {
    width: 150px;
}

.table th:nth-child(7),
.table td:nth-child(7) {
    width: 200px; 
}
.table .action-icon:hover {
    transition: 0.3s;
    opacity: 0.6;
    cursor: pointer;
}

.table .action-icon {
    color: #4BDBAA;
}

.table {
    border-spacing: 0px;
}
.table .flatpickr-input{
    width: -20px;
}
.table th, .table td {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-select, .input-group .form-control {
    padding: 0.25rem 0.5rem;
    height: auto;
}

.table .status-online {
    color: green;
}

.table .status-offline {
    color: gray;
}

.left-container-information {
    display: flex;
    justify-content: space-between;
}

.right-container-information p {
    width: 200px;
    margin: 5px auto;
}

.right-container-information label {
    width: 150px;
    color: grey;
}

.left-container-information i {
    width: 16px;
}

.border-dashed {
    border: 2px dashed #ccc;
    border-radius: 6px;
}

.edit-button {
    float: right;
}

.left-container-button {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 7px;
    width: 70%;
    border: 1px solid;
}

.delete-btn {
    border-color: #FF0A0A;
    color: #FF0A0A;
}

.edit-information-btn {
    border-color: #4BDBAA;
    color: #ffffff;
    background-color: #4BDBAA;
    white-space: nowrap;
}

.view-nav-container .nav-item {
    color: black;
    width: 33%;
}

.view-nav-container .nav-item:hover {
    transition: 0.2s;
    background-color: rgba(71, 218, 169, 0.25);
    border-bottom: 2px solid #4BDBAA;
}

.view-nav-container .nav-item .selected {
    background-color: rgba(71, 218, 169, 0.25);
    border-bottom: 2px solid #4BDBAA;
}
.container-extra .alert-box{
    border-radius: 7px;
    color: rgba(251, 197, 79, 1);
    background-color: rgba(251, 197, 79, 0.2);
    display: flex;
    border: 1px solid rgba(251, 197, 79, 0.2);
    gap: 20px;
    position: relative;
}
.container-extra .none:hover{
    cursor: pointer;
    opacity: 0.7;
}
.container-extra .alert-box button{
    font-size: smaller;
    background-color: rgba(251, 197, 79, 0.2);
    color: rgba(251, 197, 79, 1);
    border: 1px solid rgba(251, 197, 79, 1);
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
}
.container-extra .alert-box button:hover{
    background-color: rgba(251, 196, 79, 0.49);
    color: rgb(251, 196, 79);
    transition: 0.3s;
}
.container-extra .alert-box button:active{
    opacity: 0.5;
}
.container-extra .alert-box .none{
    color: black;
    border: none;
    font-size: small;
    position:absolute;
    top: 10px;
    right: 10px;
    padding: 0px;
}
.alert-box i {
    font-size: 40px;
    color: rgba(251, 197, 79, 1);
    border: 5px solid rgba(251, 197, 79, 1);
    border-radius: 50%;
    padding: 10px 25px;
}

.progress-bar-container {
    width: 100%;
    background-color: #b9b9b9;
    border-radius: 15px;
}
.progress-bar {
    border-radius: 15px;
    height:5px;
    background-color: #4FD1C5;
}
.progress-percentage{
color: #4FD1C5;
}

.new-client-container {
    height: 200px;
}
.new-client-container .card-header{
    background-color: #D9D9D9;

}
.new-client-container .card-body{
    background-color: #E2E2E2;
    color: grey;
}
.new-client-container .card-body label{
    font-weight: bold;
    width: 150px;
    color: grey;
    margin-bottom: 20px;
}

.new-client-container .card-body p{
    width: 250px;
    margin: 5px auto;
}
.site-risk-container p {
    font-weight: bold;
    color: grey;
    width: 250px;
    justify-content: start;
}

.bolded {
    font-weight: bold;
    color: grey;
}
/* Style for the toggle button */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
.kilometre{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
    padding: 5px 10px;
    background-color:rgba(217, 217, 217, 0.5) ;
    color: #515151;
}
input:checked + .slider {
    background-color: #4BDBAA;
}

input:checked + .slider::before {
    transform: translateX(26px);
}
.toggle-container {
    margin: 5px auto;
    display: inline-flex;
    align-items: center;
    background-color: #e9ecef;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
}
        /* Styling for tags */
        .tags-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 1px;
            min-height: 30px;
        }

        .tags-container input {
            border: none;
            outline: none;
            flex: 1;
            font-size: 14px;
            min-width: 150px;
        }

        .tag {
            display: inline-flex;
            align-items: center;
            background-color: #28d094;
            color: white;
            padding: 5px 10px;
            border-radius: 7px;
            margin-right: 8px;
            margin-bottom: 8px;
            font-size: 14px;
        }

        .tag .remove-tag {
            margin-left: 8px;
            cursor: pointer;
        }

        .counter-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 150px;
            border: 2px solid #ddd;
            border-radius: 4px;
            padding: 8px 15px;
        }

        .counter-button {
            display: inline-flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            padding-bottom: 3px;
            width: 20px;
            height: 20px;
            background-color: white;
            color: #4BDBAA;
            font-weight: bold;
            border: 2px solid #4BDBAA;            
            border-radius: 6px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.2s;
        }

        .counter-button:disabled {
            background-color: #ddd;
            border: 1px;
            cursor: not-allowed;
            color: #ddd;
        }

        .counter-number {
            font-size: 18px;
            color: #777;
            font-weight: bold;
        }

        .counter-button:hover {
            background-color: #4BDBAA;
            color: white;
        }

/* Slider styles */
.toggle-slider {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #28d094;
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Slider on top */
}

/* Text styling */
.toggle-text {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: #6c757d;
    position: relative;
    z-index: 2; /* Text on top of slider */
}

.toggle-text.active {
    color: white;
}

/* For toggle animation */
.toggle-container.active .toggle-slider {
    transform: translateX(100%);
}

.toggle-container.active .toggle-text:first-child {
    color: white;
    z-index: 3; /* Move 'Yes' text above slider */
}

.toggle-container:not(.active) .toggle-text:last-child {
    color: white;
    z-index: 3; /* Move 'No' text above slider */
}

.control-detail-container .card-header{
    background-color: #4BDBAA;
    color: white;
    border-bottom: none;
}
.control-detail-container select,
.control-detail-container textarea{
    border: 2px solid rgb(179, 179, 179);
}
.control-detail-container option:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;
}

/* Form */

.form-container {
    background-color: rgb(255, 255, 255);
    margin: 2rem;
    padding: 2rem;
    border-radius: 6px;
}

.form-header {
    font-weight: bold;
    margin-bottom: 1rem;
}

.form-description {
    font-size: 0.875rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}


.form-group p{
    color: grey;
    font-weight: bold;
    margin-bottom: 0;
}
.form-label {
    flex: 0 0 20%;
    font-weight: 500;
    color: #495057;
}



.form-control-wrapper {
    width: 150vh;
    border: 0;
    position: relative;
}

.form-control-wrapper.half {
    width: 40%; 
  }
  .form-control-wrapper.small {
    width: 30%; 
  }
  .form-control-wrapper.mixed {
    position: relative;
    width: 130vh;
    display: flex;
  }

  .form-control-wrapper.mixed select{
    border-radius: 0px;
  }

  .form-group.mixed .counter-container{
    border-radius: 0px;
    padding: 5px 10px;
  }
.form-control:active {
    border: 0;
}

.form-control-wrapper input,
.form-control-wrapper textarea,
.form-control-wrapper select {
    padding-left: 4rem;
}

.form-control-wrapper .input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4FD1C5;
    color: white;
    border-radius: 2px;
    height: 100%;
    width: 5vh;
    max-width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CSS */
.btn-container .btn-submit {
  align-items: center;
  background-clip: padding-box;
  background-color: #4FD1C5;
  border: 1px solid transparent;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.btn-container .btn-submit:hover,
.btn-container .btn-submit:focus {
  background-color: #47baae;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btn-container .btn-submit:hover {
  transform: translateY(-1px);
}

.btn-container .btn-submit:active {
  background-color: #32867d;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}


.btn-container button {
    width: 120px;
    padding: 1rem;
}

.form-control-wrapper input {
    flex: 1;
    padding-right: 2.5rem; /* Space for the visibility button */
}

.form-control-wrapper button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
}
.form-check label {
    color: #CCCCCC;
    font-weight: 500;
    margin-left: 5px;
}

.pests-container {
    display: flex;
    gap: 20vh;
}

/* Tablet (768px and up) */
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;
        padding: 0.5rem;
    }

    .left-container-button {
        width: 100%;
        text-align: center;
    }

    .view-nav-container .nav-item {
        width: auto;
        flex-grow: 1;
    }
    .form-group {
        flex-direction: column; /* Stack label and input vertically */
        align-items: flex-start;
    }

    .form-label {
        flex: 0 0 auto;
        margin-bottom: 0.5rem; /* Add spacing below the label */
        text-align: left;
    }

    .form-control-wrapper {
        width: 100%;
    }

    .form-control-wrapper .input-icon {
        margin-right: 20px;
    }

    .form-control-wrapper input,
    .form-control-wrapper textarea,
    .form-control-wrapper select {
        padding-left: 3rem !important;
    }

    .form-control-wrapper.mixed {
        position: relative;
        width: 80vh;
        display: grid;
      }

      .pests-container {
        display: flex;
        gap: 10vh;
    }
.form-control-wrapper.half {
    width: 80%; 
    }
    .form-control-wrapper.small {
    width: 50%; 
    }
}

/* Phone (576px and below) */
@media (max-width: 576px) {
    .tags-container {
        width: 150px;
    }
    .border-dashed {
        font-size: 14px;
    }

    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .table th, .table td {
        font-size: 12px;
        padding: 0.3rem;
    }
    .left-container-button{
        width: 120px;
        text-align: center;
        text-wrap: wrap;
    }
    .alert-box i {
        border: none;
    }
    .table thead .input-group.date {
        width: 100px; /* Full width for the date picker */
    }
    /* form */
    .form-control-wrapper input,
    .form-control-wrapper textarea,
    .form-control-wrapper select {
        padding-left: 50px !important;
    }

    .form-container {
        padding: 1rem;
    }

    .form-header {
        font-size: 1.25rem; 
    }

    .form-description {
        font-size: 0.875rem;
    }

    .btn-container {
        flex-direction: column;
        align-items: stretch;
    }

    .btn-container button {
        width: 100%; /* Full-width buttons for small screens */
        margin-bottom: 0.5rem;
    }
}